.header{
    &__wrapper{
        margin-top: 14px;
        display: flex;
        justify-content: space-between;
    }
    &__column{
        display: flex;

    }
    &__icon{
        padding-right: 14px;
        margin-top: -5px;
        .icon-fluid{
            width: 18px;
            height: 15px;
        }
    }
    &__text{
        display: block;
        color: #1E1E1E;
        @include fs-lh(12px,15px);
        font-weight: 400;

    }
    &__body{
        @include py(19px, 9px);
        display: flex;
        //justify-content: space-between;
    }
    &__logo{
        height: 64px;
        .icon-fluid{
            width: 100%;
            height: 100%;
        }
    }
    &__social{
        height: 24px;
        .icon-fluid{
            width: 100%;
            height: 100%;
    }
}

}





.header__col {
    display: flex;
    &_adress {
        //@include fw(100%/12*4);
    }
    &_email{
        margin-right: 40px;
    }
    &_logo{
        @include fw(100%/12*1.5);
        margin-right: 60px;
    }
    &_nav{
        @include fw(100%/12*8);
        justify-content: space-between;
        align-items: end;
    }
    &_social{
        @include fw(100%/12*2);
        align-items: center;

    }

}
