.menu{
    
    &__items{
        display: flex; 
        align-items: center; 
    }
    &__item{
        padding-right: 27px;
        list-style-type: none;
        font-weight: 500;
        @include fs-lh(14px,17px);
        color: #585858;
    }
    &__link{
        font-weight: 500;
        @include fs-lh(14px,17px);
        color: #585858;
        text-transform: uppercase;
    }
}