.search{
    
    background: $color__white;
    position: absolute;
    top: 253px;
    width: 65%;
    height: 124px;
    &__group{
        @include py(22px ,40px);
        @include px(83px ,83px);
        //display: flex;
    }
    &__content{
        display: flex;
        justify-content: space-between;
    }
    &__title{
        @include fs-lh(16px,19px);
        color: $color__blacklight;
        font-weight: 600;
        margin-bottom: 6px;
    }
    &__item{
        position: relative;
        @include py(10px ,9px);
        @include px(6px ,6px);
        border: 1px solid $color__gray;
        border-radius: 10px;
        span{
            @include fs-lh(14px,17px);
            color: $color__darkgray;
            font-weight: 500;
        }
        
    }
    &__icon{
        position: absolute;
        top: 7px;
        right: 7px;
        width: 18px;
        height: 20px;
            .icon-fluid{
                width: 100%;
                height: 100%;
            }
    }
    

    
}


.search__col{
    @include fw(100%/12*2.5);
}
.search__col_btn {
    display: flex;
    align-items: flex-end;
}