include libs/mixins 

block meta 
    - var title = 'фото';

doctype html 
html(lang='ru')
    head 
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title #{title}
        meta(name="keywords" content="")
        meta(name="description" content="")
    body 
        header.header 
            .container 
                .header__wrapper
                    .header__column
                        .header__col.header__col_adress
                            .header__icon(href="#")
                                +icon('addres')
                            a.header__text(href="#") Абхазия, Цандрыпш, ул.Октябрьская, д.492
                    .header__column
                        .header__col.header__col_email 
                            .header__icon(href="#")
                                +icon('pochta')
                            a.header__text(href="#") booking@valentinahouse.ru
                        .header__col.header__col_phone
                            .header__icon(href="#")
                                +icon('tel')
                            a.header__text(href="tel:88622795689") 8 (862) 279-56-89
                .header__body
                    .header__col.header__col_logo
                        a.header__logo
                            +icon('logo')
                    .header__col.header__col_nav 
                        nav.menu 
                            ul.menu__items 
                                li.menu__item 
                                    a.menu__link(href="") Главная
                                li.menu__item 
                                    a.menu__link(href="") Номера и цены
                                li.menu__item 
                                    a.menu__link(href="") Статьи
                                li.menu__item 
                                    a.menu__link(href="") Информация
                                li.menu__item 
                                    a.menu__link(href="") Полный пансион
                    .header__col.header__col_social 
                        a.header__social(href="#")
                               +icon('telegram')               
                        a.header__social(href="#")
                               +icon('whatsupp')        
                        a.header__social(href="#")
                               +icon('facebook')       
                        a.header__social(href="#")
                               +icon('vk')        
                        a.header__social(href="#")
                               +icon('socset')         
        
        
        block wrapper