extends base 

block meta 
    - var title = 'Главная';

block wrapper
    main.page-main 
        section.promo
            .promo__background 
                +image('content/glavdesktop.jpg')
            .container 
                .search
                    form.search__group
                        .search__content
                            .search__col
                                .search__title Даты заезда
                                .search__item
                                    span 04-04-2021
                                    .search__icon 
                                        +icon('calendar') 
                            .search__col
                                .search__title Даты выезда
                                .search__item
                                    span 06-04-2021
                                    .search__icon 
                                        +icon('calendar')
                            .search__col
                                .search__title Гостей
                                .search__item
                                    span 2
                                    .search__icon 
                                        +icon('guests')
                            .search__col.search__col_btn 
                                button.btn.btn__brand Проверить
        section.rooms   
            .container 
                h2.title наши номера
                .grid-container 
                    .rooms__item 
                        .rooms__bg 
                            +image('content/twomest.jpg')
                        .rooms__descr 
                            .rooms__subtitle 2-х местный
                            ul.rooms__about 
                                li.rooms__list  -Площадь номера 11 м2
                                li.rooms__list  -1 двуспальная кровать или 2 односпальные кровати
                                li.rooms__list  -Кондиционер
                                li.rooms__list  -Интернет
                                li.rooms__list  -Телевизор

                    .rooms__item 
                        .rooms__bg 
                            +image('content/family.jpg')
                        .rooms__descr 
                            .rooms__subtitle Семейный
                            ul.rooms__about 
                                li.rooms__list  -Площадь номера 18 м2
                                li.rooms__list  -1 двуспальная кровать или 1 односпальная кровать
                                li.rooms__list  -Кондиционер
                                li.rooms__list  -Интернет
                                li.rooms__list  -Телевизор

                    .rooms__item 
                        .rooms__bg 
                            +image('content/deluxe.jpg')
                        .rooms__descr 
                            .rooms__subtitle Deluxe
                            ul.rooms__about 
                                li.rooms__list  -Площадь номера 30 м2
                                li.rooms__list  -1 двуспальная кровать или 1 раскладной диван
                                li.rooms__list  -Кондиционер
                                li.rooms__list  -Интернет
                                li.rooms__list  -Телевизор
                                li.rooms__list  -2 комнаты

                    .rooms__item 
                        .rooms__bg 
                            +image('content/deluxeplus.jpg')
                        .rooms__descr 
                            .rooms__subtitle Deluxe
                            ul.rooms__about 
                                li.rooms__list  -Площадь номера 45 м2
                                li.rooms__list  -2 односпальные кровати 1 двуспальная кровать, 1 диван
                                li.rooms__list  -Кондиционер
                                li.rooms__list  -Интернет
                                li.rooms__list  -Телевизор
                                li.rooms__list  -3 комнаты

        section.info
            .container 
                h2.title.info__title ГОСТЕВОЙ ДОМ «Valentina Guest House» , Абхазия 
                .info__wrapper
                    .info__col.info__col_left 
                        .info__img
                            +image('content/portrait.jpg')  
                    .info__col.info__col_right
                        .info__text 
                                p Дорогие гости,
                                    |Безопасность и комфорт гостей и персонала – это приоритет нашей работы.
                                p Мы круглосуточно следим за тем, что Министерство здравоохранения Российской Федерации, 
                                    |Федеральная служба по надзору в сфере защиты прав потребителей и Всемирная организация 
                                    |здравоохранения сообщают о распространении нового типа коронавируса (COVID-19) и 
                                    |беспрекословно выполняем рекомендации этих организаций и местных органов здравоохранения.    
                                p Мы искренне сочувствуем всем, кого коснулось это бедствие и с огромным уважением 
                                    |относимся к врачам, местным сообществам и правительствам, которые задействованы в 
                                    |прямой борьбе с распространением коронавируса.                          