.btn{
    border: none;
    outline: none;
    border-radius: 10px;
    @include fs-lh(14px,17px);
    font-weight: 500;
    &__brand{
        @include py(10px ,9px);
        @include px(30px ,30px);
        text-align: center;
        background: $color__brand;
        color: $color__white;
        

    }

}