.info{
    @include py(0 ,80px);
    &__title{
        text-transform: none;
    }
    &__wrapper{
        @include px(60px ,55px);
        margin-top: 40px;
        display: flex;
        //justify-content: space-between;
    }
    &__img{

    }
    &__text{
        @include fs-lh(16px,20px);
        font-weight: 500;
        color: $color__darkgray;
    }
}

.info__col_left{
    @include fw(100%/12*5);
}

.info__col_right{
    @include fw(100%/12*7);
}