.rooms{
    @include py(36px ,80px);
    
    &__item{
        position: relative;
    }
    &__bg{
        
        //width: 100%;
        //height: 100%;
    }
    &__descr{
        position: absolute;
        bottom: 20px;
        left: 19px;
        right: 20px;
        background: rgba(0, 0, 0, 0.3);
        //left: 15px;
    }
    &__subtitle{
        display: block;
        text-align: center;
        @include fs-lh(24px,29px);
        font-weight: 600;
        color: $color__white;

    }
    
    
    &__list{
        list-style-type: none;
        color: $color__white;
        @include fs-lh(14px,17px);
        font-weight: 600;

    }

}


.grid-container{
    //width: 100%;
    //height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    //gap: 20px;
    }